{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Django Coursework</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gausscourse/site.css' %}"/>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}" class="navbar-brand">Головна</a>
        <a href="{% url 'home' %}" class="navbar-item">Кабінет</a>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
        <a href="/admin/" class="navbar-item">Admin</a>
            {% endif %}
        <a href="{% url 'logout' %}" class="navbar-item">Вихід
            {% if user.first_name or user.last_name %}
                {{ user.first_name|add:' '|add:user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-item">Вхід</a>
        {% endif %}
        <a href="{% url 'test' %}" class="navbar-item">Test</a>
    </div>

    <div class="body-content">
        <h2 class="text-center">{% block title %}{% endblock %}</h2>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <hr/>
        <footer>
            <p>DjangoCoursework © 2021</p>
        </footer>
    </div>
</body>
</html>
