{% extends 'gausscourse/base.html' %}
{% block title %}
Course Detail - {{ course.name }}<br>
ii. перегляд розподілу оцінок по кожному предмету у вигляді гістограми,
де різні групи відображаються різними кольорами стовпчиків.<br>
{% endblock %}
{% block content %}
<div>
    {% for key, value in fig_dict.items %}
        {{ value|safe }}
    {% endfor %}

    {% for key, value in group_name.items %}
        id:{{ key }} {{ course.name }} - {{ value }} <br>
        {% for key2, value2 in grds.items %}
            {% if key2 == key %}
                {{ value2 }} <br><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}