{% extends 'gausscourse/base.html' %}
{% block title %}
Course Detail - {{ course.name }}<br>
ii. перегляд розподілу оцінок по кожному предмету у вигляді гістограми,
де різні групи відображаються різними кольорами стовпчиків.<br>
{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <input type="number" name="grade" required id="id_grade" value="{{ user_grade.grade }}">
  <select name="course_group_pk" required id="id_course_group_pk">
    <option disabled>Select Group</option>
    {% for course_group in course_groups %}
        {% if user_grade.course_group.pk  == course_group.pk  %}
            <option selected value="{{ course_group.pk }}">{{ course_group.group.name }}</option>
        {% else %}
            <option value="{{ course_group.pk }}">{{ course_group.group.name }}</option>
        {% endif %}
    {% endfor %}
  </select>
    {% if user_grade  %}
      <input type="submit" name="button" id="id_button" value="MOD">
      <input type="submit" name="button" id="id_button" value="DEL">
    {% else %}
      <input type="submit" name="button" id="id_button" value="ADD">
    {% endif %}
<br>
<br>
grade_posted: {{ grade_posted }}
<br>
course_group_pk_posted: {{ course_group_pk_posted }}
<br>
button_posted: {{ button_posted }}
</form>
<br>
<div>
    {% for key, value in fig_dict.items %}
        {{ value|safe }}
    {% endfor %}

    {% for key, value in group_name.items %}
        id:{{ key }} {{ course.name }} - {{ value }} <br>
        {% for key2, value2 in grds.items %}
            {% if key2 == key %}
                {{ value2 }} <br><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}