{% extends 'gausscourse/base.html' %}
{% block title %}
Course Detail - {{ course.name }}<br>
ii. перегляд розподілу оцінок по кожному предмету у вигляді гістограми,
де різні групи відображаються різними кольорами стовпчиків.<br>
{% endblock %}
{% block content %}
<form action="NONE" method="post">
  <input type="text" value="{{ user_grade.grade }}">
  <select>
    <option disabled>Select Group</option>
    {% for course_group in course_groups %}
        {% if user_grade.course_group.pk  == course_group.pk  %}
            <option selected value="{{ course_group.pk }}">{{ course_group.group.name }}</option>
        {% else %}
            <option value="{{ course_group.pk }}">{{ course_group.group.name }}</option>
        {% endif %}
    {% endfor %}
  </select>
    <input type="submit" value="ADD"><input type="submit" value="DEL"><input type="submit" value="MOD">
</form>
<br>
<div>
    {% for key, value in fig_dict.items %}
        {{ value|safe }}
    {% endfor %}

    {% for key, value in group_name.items %}
        id:{{ key }} {{ course.name }} - {{ value }} <br>
        {% for key2, value2 in grds.items %}
            {% if key2 == key %}
                {{ value2 }} <br><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}