{% extends 'gausscourse/base.html' %}

{% block content %}
<div>
  {% if user.first_name or user.last_name %}
    Особистий кабінет користувача: {{ user.first_name|add:' '|add:user.last_name }}
  {% else %}
    Особистий кабінет користувача: {{ user.username }}
  {% endif %}
</p>
</div>
{% if user_grades %}
<table class=table>
  <tr>
  <thead>
    <th>Оцінка</th>
    <th>Назва курсу</th>
    <th>Група</th>
    </thead>
  </tr>
  <tbody>
    {% for grade in user_grades %}
  <tr>
    <td>{{ grade.grade }}</td>
    <td><a href="{% url 'course'  %}{{ grade.course_group.course.id }}">{{ grade.course_group.course.name }}</a></td>
    <td>{{ grade.course_group.group.name }}</td>
  </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p><center>Оцінки недоступні.</center></p>
{% endif %}
{% endblock %}