{% extends 'gausscourse/base.html' %}
{% block title %}
 b.i. перелік предметів із можливістю пошуку по назві та сортуванням <br>
 b.v. на головній сторінці має відображатись розподіл усіх оцінок по усім публічним курсам, наявних у системі і загальна кількість оцінок
{% endblock %}
{% block content %}
<form action="/" method="get">
  {{ form }}
  <input type="submit" value="Set">
</form>
{% if course_list %}
<table style="width:80%">
  <tr>
    {% if form.name_filter.value %}
    <th><a href="{% url 'index' %}?name_filter={{ form.name_filter.value }}&sort={{ sort }}">Назва предмету</a></th>
    {% else %}
    <th><a href="{% url 'index' %}?sort={{ sort }}">Назва предмету</a></th>
    {% endif %}
    <th>start_date</th>
    <th>finish_date</th>
    <th>Кількість оцінок</th>
  </tr>
    {% for course in course_list %}
  <tr>
    <td><a href="{% url 'course'  %}{{ course.id }}">{{ course.name }}</a></td>
    <td>{{ course.start_date }}</td>
    <td>{{ course.finish_date }}</td>
    <td>
      {% for id, name, public, count in test_list %}
        {% if id == course.id %}
          <b>{{ count }}</b>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
    {% endfor %}
</table>
{% else %}
    <p>No courses are available.</p>
{% endif %}
{% endblock %}