{% extends 'gausscourse/base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<form id="s-form" action="/" method="get">
 {{form}}
  <input type="submit" value="Застосувати">
</form>
{% if course_list %}
<table class=table>
  <thead>
  <tr>
    {% if form.name_filter.value %}
    <th><a href="{% url 'index' %}?name_filter={{ form.name_filter.value }}&sort={{ sort }}">Назва предмету</a></th>
    {% else %}
    <th><a href="{% url 'index' %}?sort={{ sort }}">Назва предмету</a></th>
    {% endif %}
    <th>Початок курсу</th>
    <th>Закінчення курсу</th>
    <th>Кількість оцінок</th>
  </tr>
</thead>
<tbody>
    {% for course in course_list %} 
  <tr>
    <td><a href="{% url 'course'  %}{{ course.id }}">{{ course.name }}</a></td>
    <td>{{ course.start_date }}</td>
    <td>{{ course.finish_date }}</td>
    <td>
      {% for id, name, public, count in test_list %}
        {% if id == course.id %}
          <b>{{ count }}</b>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>





{% else %}
    <p>No courses are available.</p>
{% endif %}
{% endblock %}