.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 30px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button1 
{    
    width: 400px;
    height: 100px;
  
     background-color: white;
    border: 2px solid #555555; 
      
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 24px;
}
.button1:hover
{
    background-color: #555555;
    color: white;
}
a
{
  color: black;
    padding: 0.1em 1.5em;
  text-decoration: none;
}
a:hover
{
  color : white;
  background-color: lightslategray;
}

p {
    text-indent: 20px; 
   }


.button2
{    
    width: 400px;
    height: 100px;
     background-color: white;
  
    border: 2px solid #FF0000; 
      
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 24px;
}
.button2:hover
{
    background-color: #FF0000;
    color: white;
}

.button3
{    
    width: 400px;
    height: 100px;
     background-color: white;
    
    border: 2px solid #0000A0; 
      display:block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;   
    webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 24px;
}
.button3:hover
{
    background-color: #0000A0;
    color: white;
}

.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: center;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
input[type=submit]
{
    background-color: #8D96B9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#s-form{
    font-weight: bold;
}

